extends layout

block content
  div
    form(action='/broadcast',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
            -for(var i = 0;i<groups.length;i++){
              label(for='group') #{groups[i]['nama']}
                           br
              br
              input(type="checkbox", value="#{groups[i]['id']}", name="groups") 
            -}
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='message') Pesan
             input(id='messages',type='text',value='',name='messages')
      div(data-role='fieldcontain')   
        input(type='submit',value='Buat Siaran',data-transition='fade', data-theme='c')




