doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  navbar
   ul
    li 
     a(href="/group") group
    li 
     a(href="/kontak") kontak
    li 
     a(href="/groups/detail") Detail Group
    li 
     a(href="/campaign") Kampanye
    li 
     a(href="/broadcast") Siaran
    li 
     a(href="/setting") Profil

  block content