extends layout

block content
  div
    if owner != null
      if owner.status == true
        h1 Aktif
      if owner.status == false
        h1 Off
    if owner == null
      form(action='/setting',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='username') Pemilik
               input(id='username',type='text',value='',name='username')
        div#passworddiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='wa_number') Nomor WA
               input(id='wa_number',type='text',value='',name='wa_number')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
               input(id='address',type='hidden',value='null',name='address')
        div(data-role='fieldcontain')   
          input(type='submit',value='Buat',data-transition='fade', data-theme='c')
      br
      br
  if owner != null
      form(action='/setting/edit',method='post')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='username') Pemilik
               input(id='username',type='text',value='#{owner.nama}',name='username')
        div#passworddiv(data-role='fieldcontain')
          fieldset(data-role='controlgroup')
            label(for='wa_number') Nomor WA
               input(id='wa_number',type='text',value='#{owner.nomor}',name='wa_number')
        div(data-role='fieldcontain')   
          input(type='submit',value='Ubah',data-transition='fade', data-theme='c')
      br
      br
  if owner != null
    if  owner
      h1  Barcode 
      img(src="/wa/qr")

    if owner.status == true
      button
        a(href="/wa/logout") Keluar
    br
    br

    button
      a(href="/start") Start Machine

    button
        a(href="/reconnect") Reconnect


